body {
    font-size: 0.9rem;
}

table {
    font-size: 0.9rem;
}

.btn-menu {
    border-radius: 0.25rem;
}

.panel {
    padding: 0.5rem;
    background-color: #a5b0de;
    border-radius: 0.25rem;
}

.item-width {
    width: 20rem;
    z-index: 2000;
}